<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Usuário</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/add_user_styles.css')}}">
</head>

<body>
    <h2>Adicionar Novo Usuário</h2>
    <div class="button-container">
        <a href="/add_user_locator">
            <button>Sou um locatário</button>
        </a>
    </div>
    <div class="button-container">
        <a href="/add_user_renter">
            <button>Sou um locador</button>
        </a>
    </div>
</body>

</html>
