<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Usuário</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/add_user_styles.css') }}">
</head>
<body>
    <h2 class="welcome-message">Pronto para se juntar a nós?</h2>
    <div class="user-type-selector">
        <a href="/add_user_renter" class="user-type-link">Sim! Quero encontrar quadras para alugar!</a>
        <a href="/add_user_locator" class="user-type-link">Sim! Quero oferecer minhas quadras para aluguel!</a>
    </div>
</body>
</html>
