<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Quadra</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/add_courts_styles.css')}}">
</head>

<body>
    <h2>Adicionar Quadra</h2>
    <form method="POST" action="/add_courts" id="form-add-courts">
        <text hidden="true"></text>
        <label for="courtType">Tipo:</label>
        <input type="text" id="courtType" name="courtType" required><br>
        <label for="location">Localização:</label>
        <input type="text" id="location" name="location" required><br>
        <label for="pricePerHour">Preço por Hora:</label>
        <input type="number" id="pricePerHour" name="pricePerHour" required><br>
        <label for="maxPlayers">Locação máxima da quadra:</label>
        <input type="number" id="maxPlayers" name="maxPlayers" required><br>
        <div class="hour-selector" id="hour-selector">
            <p>Selecione sua Disponibilidade por Hora nos Dias de Semana:</p>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="hour-0" name="hour-0" value='0'>
                <label for="hour-0">00:00 às 01:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="hour-1" name="hour-1" value='0'>
                <label for="hour-1">01:00 às 02:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="hour-2" name="hour-2" value='0'>
                <label for="hour-2">02:00 às 03:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="hour-3" name="hour-3" value='0'>
                <label for="hour-3">03:00 às 04:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="hour-4" name="hour-4" value='0'>
                <label for="hour-4">04:00 às 05:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="hour-5" name="hour-5" value='0'>
                <label for="hour-5">05:00 às 06:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="hour-6" name="hour-6" value='0'>
                <label for="hour-6">06:00 às 07:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="hour-7" name="hour-7" value='0'>
                <label for="hour-7">07:00 às 08:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="hour-8" name="hour-8" value='0'>
                <label for="hour-8">08:00 às 09:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="hour-9" name="hour-9" value='0'>
                <label for="hour-9">09:00 às 10:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="hour-10" name="hour-10" value='0'>
                <label for="hour-10">10:00 às 11:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="hour-11" name="hour-11" value='0'>
                <label for="hour-11">11:00 às 12:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="hour-12" name="hour-12" value='0'>
                <label for="hour-12">12:00 às 13:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="hour-13" name="hour-13" value='0'>
                <label for="hour-13">13:00 às 14:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="hour-14" name="hour-14" value='0'>
                <label for="hour-14">14:00 às 15:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="hour-15" name="hour-15" value='0'>
                <label for="hour-15">15:00 às 16:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="hour-16" name="hour-16" value='0'>
                <label for="hour-16">16:00 às 17:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="hour-17" name="hour-17" value='0'>
                <label for="hour-17">17:00 às 18:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="hour-18" name="hour-18" value='0'>
                <label for="hour-18">18:00 às 19:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="hour-19" name="hour-19" value='0'>
                <label for="hour-19">19:00 às 20:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="hour-20" name="hour-20" value='0'>
                <label for="hour-20">20:00 às 21:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="hour-21" name="hour-21" value='0'>
                <label for="hour-21">21:00 às 22:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="hour-22" name="hour-22" value='0'>
                <label for="hour-22">22:00 às 23:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="hour-23" name="hour-23" value='0'>
                <label for="hour-23">23:00 às 00:00</label>
            </div>
            <p style='padding-top:10px'>Selecione sua Disponibilidade por Hora no Fim de Semana:</p>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="we-hour-0" name="we-hour-0" value='0'>
                <label for="we-hour-0">00:00 às 01:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="we-hour-1" name="we-hour-1" value='0'>
                <label for="we-hour-1">01:00 às 02:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="we-hour-2" name="we-hour-2" value='0'>
                <label for="we-hour-2">02:00 às 03:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="we-hour-3" name="we-hour-3" value='0'>
                <label for="we-hour-3">03:00 às 04:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="we-hour-4" name="we-hour-4" value='0'>
                <label for="we-hour-4">04:00 às 05:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="we-hour-5" name="we-hour-5" value='0'>
                <label for="we-hour-5">05:00 às 06:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div" .clickable-div label { user-select: none; }>
                <input type="checkbox" id="we-hour-6" name="we-hour-6" value='0'>
                <label for="we-hour-6">06:00 às 07:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="we-hour-7" name="we-hour-7" value='0'>
                <label for="we-hour-7">07:00 às 08:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="we-hour-8" name="we-hour-8" value='0'>
                <label for="we-hour-8">08:00 às 09:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="we-hour-9" name="we-hour-9" value='0'>
                <label for="we-hour-9">09:00 às 10:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="we-hour-10" name="we-hour-10" value='0'>
                <label for="we-hour-10">10:00 às 11:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="we-hour-11" name="we-hour-11" value='0'>
                <label for="we-hour-11">11:00 às 12:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="we-hour-12" name="we-hour-12" value='0'>
                <label for="we-hour-12">12:00 às 13:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="we-hour-13" name="we-hour-13" value='0'>
                <label for="we-hour-13">13:00 às 14:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="we-hour-14" name="we-hour-14" value='0'>
                <label for="we-hour-14">14:00 às 15:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="we-hour-15" name="we-hour-15" value='0'>
                <label for="we-hour-15">15:00 às 16:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="we-hour-16" name="we-hour-16" value='0'>
                <label for="we-hour-16">16:00 às 17:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="we-hour-17" name="we-hour-17" value='0'>
                <label for="we-hour-17">17:00 às 18:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="we-hour-18" name="we-hour-18" value='0'>
                <label for="we-hour-18">18:00 às 19:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="we-hour-19" name="we-hour-19" value='0'>
                <label for="we-hour-19">19:00 às 20:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="we-hour-20" name="we-hour-20" value='0'>
                <label for="we-hour-20">20:00 às 21:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="we-hour-21" name="we-hour-21" value='0'>
                <label for="we-hour-21">21:00 às 22:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="we-hour-22" name="we-hour-22" value='0'>
                <label for="we-hour-22">22:00 às 23:00</label>
            </div>
            <div class="clickable-div" , id="clickable-div">
                <input type="checkbox" id="we-hour-23" name="we-hour-23" value='0'>
                <label for="we-hour-23">23:00 às 00:00</label>
            </div>
        </div>
        <button type="submit">Adicionar Quadra</button>
    </form>
    <script src="{{ url_for('static',filename='script/script.js') }}"></script>
</body>

</html>