<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Usuário</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/add_user_locator_styles.css')}}">
</head>

<body>
    <h2 class="welcome-message">Adicionar Novo Usuário</h2>
    <h3 class="welcome-message">Bem-vindo! Vamos começar esta parceria.</h3>
    <form method="POST" action="/add_user_locator" id="form-add-user-locator">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" required autocomplete="name"><br>
        <label for="username">Nome de Usuário:</label>
        <input type="text" id="username" name="username" required autocomplete="username"><br>
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required autocomplete="current-password"><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required autocomplete="email"><br>
        <label for="phoneNumber">Número de Telefone:</label>
        <input type="tel" id="phoneNumber" name="phoneNumber" required autocomplete="tel-national"><br>
        <label for="ownedCourtsNum">Quantidade de quadras possuída:</label>
        <input type="number" id="ownedCourtsNum" name="ownedCourtsNum" required><br>
        <button type="submit">Cadastrar Quadras</button>
    </form>
    <script src="{{ url_for('static',filename='script/script.js') }}"></script>
</body>

</html>
