<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo!</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login_styles.css')}}">
</head>

<body>
    <h2>Olá, por favor faça login ou cadastre-se para continuar!</h2>
    <div class="login-container">
        <div class="login-form">
            <form method="POST" action="/login">
                <label for="userType">Você é dono ou consumidor de quadras?</label>
                <select id="userType" name="userType">
                    <option value="Locator">Dono</option>
                    <option value="Renter">Consumidor</option>
                </select>
                <br>
                <input type="text" id="username" name="username" placeholder="Nome de Usuário" required><br>
                <input type="password" id="password" name="password" placeholder="Senha" required><br>
                <button type="submit">Entrar</button>
            </form>
            {% if error %}
            <p style="color: red;">{{ error }}</p>
            {% endif %}
        </div>
        <div class="button-container">
            <a href="/add_user">
                <button>Adicionar Novo Usuário</button>
            </a>
        </div>
    </div>
</body>

</html>
