<!DOCTYPE html>
<html>
    <head>
        <title>User Created Successfully</title>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/user_created_styles.css')}}">
    </head>
    <body>
        <h1>User Created Successfully!</h1>
        <p>Your account has been created successfully. Please login to continue.</p>
        <script>
            setTimeout(function() {
                window.location.href = "/login";
            }, 3000); // Redirect to login page after 3 seconds
        </script>
    </body>
</html>
