/*body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
*/

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    /* Gradiente que combina com a caixa de login preta */
    background: linear-gradient(to right, #2c3e50 0%, #4a586e 100%);
}

h2.welcome-message {
    color: #FFC107; /* Cor de destaque */
    font-size: 24px; /* Tamanho maior para mais destaque */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidade */
    margin-bottom: 30px; /* Espaçamento maior para separar do restante do conteúdo */
    animation: fadeIn 2s ease-in-out; /* Animação suave de entrada */
}

/* Animação fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    text-align: auto;
    width: 820px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.hour-selector {
    display: flex;
    flex-wrap: wrap;
    width: 100/24%;
    justify-content: space-between;
}
.hour-selector > div {
    font-size: 14px;
    display: inline-block;
    border: 2px solid #646a7088;
    border-radius: 10%;  
    text-align: center;
}

.hour-selector > div:hover {
    font-size: 14px;
    display: inline-block;
    border: 2px solid #646a7088;
    border-radius: 10%;  
    background-color: #646a7088;
    color: white;
    cursor: pointer;
}

.hour-selector > div > input:hover {
    cursor: pointer;
}

.hour-selector > div > label:hover {
    cursor: pointer;
}

.clickable-div label {
    user-select: none;
}

.hour-selector > p{
    width: 100%;
    margin: 0;
}

/* Estiliza a caixa de seleção padrão */
input[type="checkbox"] {
    appearance: none; /* Remove o estilo padrão do navegador */
    -webkit-appearance: none; /* Para navegadores Webkit */
    -moz-appearance: none; /* Para navegadores Mozilla */
    width: 20px; /* Define a largura desejada */
    height: 20px; /* Define a altura desejada */
    border: 2px solid #333; /* Cor da borda */
    border-radius: 4px; /* Borda arredondada */
    cursor: pointer; /* Altera o cursor ao passar por cima */
    outline: none; /* Remove a borda de foco padrão */
}

/* Estiliza a caixa de seleção quando marcada */
input[type="checkbox"]:checked {
    background-color: #4caf50; /* Cor de fundo quando marcada */
    border-color: #4caf50; /* Cor da borda quando marcada */
}

/* Estiliza o indicador de seleção (marca de verificação) */
input[type="checkbox"]::before {
    content: "\2713"; /* Caractere de marca de verificação Unicode ✓ */
    font-size: 16px; /* Tamanho da fonte do indicador */
    color: #fff; /* Cor do indicador quando marcada */
    display: block;
    text-align: center;
    line-height: 20px; /* Centraliza verticalmente o indicador */
}

/* Estiliza a caixa de seleção quando desativada */
input[type="checkbox"]:disabled {
    opacity: 0.6; /* Opacidade reduzida para indicar desativado */
    cursor: not-allowed; /* Cursor de não permitido */
}
