body {
    font-family: 'Montserrat', sans-serif; /* Fonte Principal */
    background-color: #007BFF; /* Azul Vibrante */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #FFFFFF; /* Branco */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-form input {
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #CCCCCC; /* Cinza Neutro */
    border-radius: 5px;
    font-size: 16px;
}

.login-form button {
    background-color: #2ecc71; /* Verde Esportivo */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
}

.button-container {
    text-align: center;
    padding-top: 1px;
}

.button-container button {
    background-color: #007BFF; /* Azul Vibrante */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
}
