body {
    font-family: 'Montserrat', sans-serif; /* Fonte Principal */
    background-color: rgb(0, 103, 212); /* Azul Vibrante */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

h2 {
    color: white;
    margin-bottom: 20px;
}

#userType {
    width: auto;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    background-size: 15px;
    background-position: 95% center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#userType:focus {
    outline: none;
    border-color: #007BFF; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

label {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}

.login-container {
    background-color: #2ecc71; /* Branco */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-form input {
    width: 90%;
    margin: 10px 0 10px 0;
    padding: 10px;
    border: 1px solid #CCCCCC; /* Cinza Neutro */
    border-radius: 5px;
    font-size: 16px;
}

.login-form button {
    background-color: #007BFF; /* Verde Esportivo */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
}

.login-form form {
    margin: 10px 0 10px 0;
    text-align: center;
}

.button-container {
    text-align: center;
    padding-top: 1px;
}

.button-container button {
    background-color: #FFA500; /* Azul Vibrante */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
}
